<div class="card">
    <div class="card-body">
        <form [formGroup]="form">
            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold">{{'Description' | translate}}</div>
                <div class="col-md-9 form-group">
                    <textarea rows="4" class="form-control" formControlName="description"></textarea>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold">
                    {{'Amount Requested' | translate}} ({{ application?.plan?.currency?.short_name }})
                </div>
                <div class="col-md-9 form-group">
                    <input type="text" class="form-control" formControlName="amount">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold">{{'Field of Interest' | translate}}</div>
                <div class="col-md-9 form-group">
                    <select class="form-control" formControlName="interest_id">
                        <option [value]="interest.key" *ngFor="let interest of interests$ | async">
                            {{ interest.value }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold">{{'Geographical Area' | translate}}</div>
                <div class="col-md-9">
                    <select class="form-control" formControlName="geographical_area_id">
                        <option [value]="area.key" *ngFor="let area of geographicalAreas$ | async">
                            {{ area.value }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold">{{'Submit at' | translate}}:</div>
                <div class="col-md-9">{{ application?.submitted_at }}</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-3 font-weight-bold">{{'Revisit at' | translate}}:</div>
                <div class="col-md-9">{{ application?.revisit_at }}</div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <button class="btn btn-secondary" routerLink="../">{{'View' | translate}}</button>
        <button class="btn btn-success ml-2" (click)="submit()">{{'Save' | translate}}</button>
    </div>
</div>