<app-page-title title="All plans" [leftContent]="leftContent">
    <ng-template #leftContent>
        <h4 class="page-title">
            {{'All plans' | translate}}
            <button class="btn btn-link text-success font-weight-bold p-0 mx-2" (click)="modalShow = true">
                <i class="fe-plus-circle"></i> {{'Add plan' | translate}}
            </button>
        </h4>
    </ng-template>
</app-page-title>

<div class="container">
    <div class="row">
        <div class="col-xl-12">
            <app-plan-table [plans]="plans"
                            [page]="page"
                            [size]="size"
                            [total]="meta ? meta.pagination.total : 0"
                            [loading]="loading"
                            (pageChange)="page = $event; loadPlans()"
                            (sizeChange)="size = $event; loadPlans()"
                            (showApplications)="showApplications($event)"
                            (archive)="destroy($event)">
            </app-plan-table>
        </div>
    </div>
</div>

<app-plan-create-modal [show]="modalShow"
                       [loading]="modalLoading"
                       (close)="modalShow = false"
                       (submit)="createPlan($event)"
></app-plan-create-modal>
