<div class="card">
    <div class="card-body">
        <h4 class="mb-3">{{ heading }} {{ planId }}</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Project Permissions</th>
                <th>Phone</th>
                <th>Email</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of team">
                <td>{{ member.user.name }}</td>
                <td>Edit</td>
                <td>{{ member.user.phone }}</td>
                <td>{{ member.user.email }}</td>
                <td class="text-right">
                    <button class="btn btn-link text-warning p-0 mx-1">
                        <i class="fe-arrow-down"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1">
                        <i class="fe-check-square"></i>
                    </button>

                    <button class="btn btn-link text-danger p-0 mx-1">
                        <i class="fe-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>