<div class="card">
    <app-ui-preloader [display]="loading"></app-ui-preloader>

    <div class="card-body">
        <form class="form" [formGroup]="form">
            <div *ngIf="!form.value['id']" class="form-group mb-3">
                <label for="title">{{'Name' | translate}}</label>

                <input type="text" id="title" class="form-control" placeholder="{{'Enter plan title' | translate}}"
                       [ngClass]="{'is-invalid': showError('name')}"
                       formControlName="name">

                <div class="invalid-feedback">
                    {{ (form.get('name').errors?.required ? 'Name is required' : '') | translate}}
                </div>
            </div>
            <div class="form-group mb-3">
                <label for="description">{{'Description' | translate}}</label>

                <textarea formControlName="description" id="description" cols="30" rows="5" class="form-control"
                          placeholder="{{'Write plan description here' | translate}}"></textarea>
            </div>

            <div class="form-group mb-3">
                <label for="start_date">{{'Start date' | translate}}</label>

                <input mwlFlatpickr id="start_date" class="form-control" type="text" formControlName="start_at"
                       dateFormat="Y-m-d">
            </div>

            <div class="form-group mb-3">
                <label for="end_date">{{'Expected End Date' | translate}}</label>

                <input mwlFlatpickr id="end_date" class="form-control" type="text" formControlName="expected_end_at"
                       dateFormat="Y-m-d">
            </div>

            <div class="form-group mb-3">
                <label>{{'Review questions' | translate}}</label>

                <p class="font-italic">Add questions functionality</p>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <button class="btn btn-success" (click)="submit()">{{'Save changes' | translate}}</button>
    </div>
</div>
