<ng-template #contentTemplate>
    <div id="sidebar-menu">
        <ul class="metismenu" id="side-menu" #sideMenu>
            <ng-container *ngFor="let item of items">
                <li routerLinkActive="active" *ngxPermissionsOnly="item.permission">
                    <a href="javascript: void(0);" class="waves-effect" aria-expanded="false"
                       [routerLink]="item.link"
                       routerLinkActive="active">
                        <i *ngIf="item.icon" [ngClass]="item.icon"></i>
                        <span>{{ item.label | translate }}</span>
                    </a>

                    <ul class="nav-second-level collapse in" *ngIf="item.children" aria-expanded="false">
                        <ng-container *ngFor="let child of item.children">
                            <li *ngxPermissionsOnly="child.permission">
                                <a [routerLink]="child.link" routerLinkActive="active">
                                    <i *ngIf="child.icon" [ngClass]="child.icon"></i>
                                    {{ child.label | translate }}
                                </a>
                            </li>
                        </ng-container>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
    <div class="clearfix"></div>
</ng-template>


<div class="left-side-menu">
    <div class="slimscroll-menu" appSlimScroll *ngIf="!isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>

    <div class="slimscroll-menu" *ngIf="isCondensed">
        <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
    </div>
</div>
