<div class="card bg-pattern auth-card-section">
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <a routerLink="/">
                <img src="assets/images/logo-dark.svg" alt="" height="50" />
            </a>
            <p class="text-muted mb-4 mt-3">
                Enter your email address and password to access admin panel!
            </p>
        </div>

        <form [formGroup]="loginForm"
              (ngSubmit)="onSubmit()"
              class="needs-validation"
              name="loginForm"
              novalidate>
            <app-ui-preloader [display]="loading"></app-ui-preloader>

            <ngb-alert *ngIf="error"
                       [dismissible]="false"
                       type="danger">
                {{ error }}
            </ngb-alert>

            <div class="form-group mb-3">
                <label for="email">Email</label>

                <input [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                       formControlName="email"
                       type="email"
                       class="form-control"
                       id="email"
                       placeholder="Email" />

                <div *ngIf="submitted && f.email.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="password">Password</label>

                <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                       formControlName="password"
                       type="password"
                       class="form-control"
                       id="password"
                       placeholder="Password" />

                <div *ngIf="submitted && f.password.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>

            <div class="form-group mb-0 text-center">
                <button class="btn btn-primary btn-block"
                        type="submit">
                    Log In
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3 auth-link-section">
    <div class="col-12 text-center">
        <p>
            <a routerLink="/account/reset-password"
               class="text-white-50 ml-1">
                Forgot your password?
            </a>
        </p>
        <p class="text-white-50">
            Don't have an account?
            <a routerLink="/account/signup"
               class="text-white ml-1">
                <b>Sign Up</b>
            </a>
        </p>
    </div>
</div>
