<form [formGroup]="form">
    <div class="form-group mb-3">
        <label for="name">{{'Name' | translate}}</label>

        <input type="text"
               id="name"
               class="form-control"
               formControlName="name"
               [ngClass]="{ 'is-invalid': submitted && form.controls['name'].invalid }" />

        <div *ngIf="submitted && form.controls['name'].errors?.required" class="invalid-feedback">
            <span>{{'Name is required' | translate}}</span>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="description">{{'Description' | translate}}</label>

        <textarea class="form-control"
                  id="description"
                  rows="5"
                  style="margin-top: 0; margin-bottom: 0;"
                  formControlName="description"
                  [ngClass]="{ 'is-invalid': submitted && form.controls['description'].invalid }">
        </textarea>

        <div *ngIf="submitted && form.controls['description'].errors?.required" class="invalid-feedback">
            <span>{{'Description is required' | translate}}</span>
        </div>
    </div>

    <div class="form-group mb-3">
        <label for="end_submission_at">{{'Final Submission Date' | translate}}</label>

        <input type="text"
               id="end_submission_at"
               class="form-control"
               formControlName="end_submission_at" />
    </div>

    <div class="form-group mb-3">
        <label for="description">{{'Final Edits Date' | translate}}</label>

        <input type="text"
               id="end_edit_at"
               class="form-control"
               formControlName="end_edit_at" />
    </div>
</form>
