<app-page-title title="Edit application"></app-page-title>

<div class="container">
    <app-application-form [application]="application"
                          (submitted)="submit($event)"
    ></app-application-form>
</div>