<div class="card">
    <div class="card-body">
        <h4>{{'Projects' | translate}}</h4>

        <table class="table mt-3">
            <thead>
            <tr>
                <th>{{'Organization' | translate}}</th>
                <th>{{'Amount' | translate}}</th>
                <th>{{'Approval Date' | translate}}</th>
                <th>{{'Referrals' | translate}}</th>
                <th class="text-right">{{'Actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of [1, 2, 3, 4]">
                <td>No2Violence Against Woman And Children</td>
                <td>A$ 58,000</td>
                <td>05/12/19</td>
                <td>Moshe B (+2)</td>
                <td class="text-right">
                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', 1]">
                        <i class="fe-edit"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', 1]">
                        <i class="fe-eye"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1">
                        <i class="fe-archive"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4>{{'Pending Projects' | translate}}</h4>

        <table class="table mt-3">
            <thead>
            <tr>
                <th>Organization</th>
                <th>Amount</th>
                <th>Approval Date</th>
                <th>Referrals</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let i of [1, 2, 3, 4]">
                <td>No2Violence Against Woman And Children</td>
                <td>A$ 58,000</td>
                <td>05/12/19</td>
                <td>Moshe B (+2)</td>
                <td class="text-right">
                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', 1]">
                        <i class="fe-edit"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', 1]">
                        <i class="fe-eye"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1">
                        <i class="fe-archive"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>