<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'Review application' | translate}}</h4>
    </div>

    <div class="modal-body">
        <form class="form" [formGroup]="form">
            <div class="align-items-center"
                 formArrayName="formRating"
                 *ngFor="let control of form.get('formRating').controls; let i = index">
                <div class="row align-items-center" [formGroupName]="i">
                    <div class="col-md-6">
                        {{ control.get('question').value }}
                    </div>
                    <div class="col-md-6">
                        <star-rating class="d-flex justify-content-end"
                                     (rate)="rate($event, i)"
                                     [value]="control.get('rating').value"
                                     checkedcolor="lightgreen"
                                     uncheckedcolor="lightgray"
                                     size="24px"
                                     readonly="false">
                        </star-rating>
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <label for="note">{{'Add a note' | translate}}</label>

                <input type="text" class="form-control" id="note" placeholder="{{'Write note here' | translate}}">
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-link text-success" (click)="modal.close()">{{'Cancel' | translate}}</button>

        <button type="button" class="btn btn-success waves-effect waves-light" (click)="submit(); modal.close()">
            {{'Save review' | translate}}
        </button>
    </div>
</ng-template>