<div class="card bg-pattern auth-card-section">
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <a routerLink="/account/login">
                <img src="assets/images/logo-dark.svg" alt="" height="50" />
            </a>
        </div>

        <div class="mt-3 text-center">
            <img src="assets/images/auth/email.svg">

            <h4 class="text-dark-50 text-center mt-4 font-weight-bold">Please check your email</h4>
            <p class="text-muted mb-4">
                A email has been send to <b>youremail@domain.com</b>.
                Please check for an email from company and click on the included link to
                reset your password.
            </p>
        </div>

        <div class="form-group mb-0 text-center mt-3">
            <a routerLink="/account/login"
               class="btn btn-primary">
                <i class="mdi mdi-home mr-1"></i>
                Back to Home
            </a>
        </div>

    </div>
</div>
