.font-35 {
  font-size: 35px !important;
}

:host {
  ::ng-deep {
    .c3-target.c3-defocused {
      opacity: 1 !important;
    }

    .c3-title-30 {
      .c3-chart-arcs-title {
        font-size: 30px;
      }
    }
  }
}