<div class="card">
    <div class="card-body">
        <div class="row text-center">
            <div class="col-12">
                <p class="mb-0">{{ 'budget.overall-project-budget' | translate }}</p>
                <p>
                    <span class="font-35 font-weight-bold">{{ plan?.budget }}</span> {{ plan?.currency?.short_name }}
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 text-center">
                <div id="chart-left"></div>
                <p class="mb-0">{{'Overall Allocations' | translate}}</p>
                <p class="mb-0">
                    <span class="font-24 font-weight-bold">{{ plan?.allocated_budget }}</span>
                    {{ plan?.currency?.short_name }}
                </p>
                <p class="font-13">{{'Out of' | translate}} {{ plan?.budget }}</p>
            </div>

            <div class="col-12 col-xl-4 px-5 text-center" *ngIf="false">
                <div id="chart-center"></div>
                <p class="mb-0">Overall Granted</p>
                <p class="mb-0"><span class="font-24 font-weight-bold">88,000</span> AUD(A$)</p>
                <p class="font-13">Out of 200,000</p>
            </div>

            <div class="col-12 col-xl-4 px-5 text-center" *ngIf="false">
                <div id="chart-right"></div>
                <p class="mb-0">Realized</p>
                <p class="mb-0"><span class="font-24 font-weight-bold">28,000</span> AUD(A$)</p>
                <p class="font-13">Out of 85,000</p>
            </div>
        </div>
    </div>
</div>

<div class="row" *ngIf="false">
    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 text-center text-sm-left">
                        <p>Allocated this Month</p>
                        <h2>300,000</h2>
                    </div>

                    <div class="col-sm-4 text-right">
                        <div id="chart-bottom-left"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 text-center text-sm-left">
                        <p>Granted this Month</p>
                        <h2>68,000</h2>
                    </div>

                    <div class="col-sm-4 text-right">
                        <div id="chart-bottom-center"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xl-4">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-8 text-center text-sm-left">
                        <p>Realized this Month</p>
                        <h2>14,000</h2>
                    </div>

                    <div class="col-sm-4 text-right">
                        <div id="chart-bottom-right"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-white">
        <h4 class="mb-0">{{'Projection' | translate}}</h4>
    </div>
    <div class="card-body">
        <div id="chart-spline"></div>
    </div>
</div>

<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center bg-white">
        <h4 class="mb-0">{{'Allocations' | translate}}</h4>
    </div>

    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th>{{'Organization name' | translate}}</th>
                <th>{{'Allocated Amount' | translate}}</th>
                <th>{{'Allocation date' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let allocation of allocations">
                <td>{{ allocation.organization.name }}</td>
                <td>{{ allocation.plan.currency.short_name }} {{ allocation.amount }}</td>
                <td>{{ allocation.submitted_at }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-footer">
        <a [routerLink]="['./settings']">{{'Edit settings' | translate}}</a>
    </div>
</div>
