<div class="account-pages mt-5 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-alt">
    2015 - 2019 &copy; UBold theme by
    <a href=""
       class="text-white-50">
        Coderthemes
    </a>
</footer>
