<div id="wrapper">
    <app-topbar (settingsButtonClicked)="displaySettings()"
                (mobileMenuButtonClicked)="toggleMobileMenu()">
    </app-topbar>

    <app-sidebar [isCondensed]="isCondensed"></app-sidebar>

    <div class="content-page">
        <div class="content">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </div>
</div>
