<div class="card">
    <div class="card-body">
        <app-form-step-header [activeStep]="activeStep"></app-form-step-header>

        <div class="py-3">
            <router-outlet (activate)="setForm($event)"></router-outlet>
        </div>

        <app-form-step-footer *ngIf="!isViewMode" [activeStep]="activeStep"></app-form-step-footer>
    </div>
</div>
