<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'Principle approval' | translate}}</h4>
    </div>

    <div class="modal-body">
        <form class="form">
            <div class="form-group">
                <label for="message">{{'Message' | translate}}</label>
                <input type="text" class="form-control" id="message">
            </div>

            <div class="form-group">
                <label for="file">{{'Attach file' | translate}}:</label>
                <button class="btn btn-light d-block">{{'Browse' | translate}}...</button>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-link text-success" (click)="modal.close()">{{'Cancel' | translate}}</button>
        <button type="button" class="btn btn-success waves-effect waves-light" (click)="approve(); modal.close()">
            {{'Next' | translate}}
        </button>
    </div>
</ng-template>