<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <ng-container *ngIf="leftContent; else noLeftContent" [ngTemplateOutlet]="leftContent"></ng-container>
        </div>
    </div>
</div>

<ng-template #noLeftContent>
    <h4 class="page-title">{{ title }}</h4>
</ng-template>
