<div class="card bg-pattern auth-card-section">
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <a routerLink="/account/login">
                <img src="assets/images/logo-dark.svg" alt="" height="50" />
            </a>
            <p class="text-muted mb-4 mt-3">
                Enter your email address and we'll send you an email with instructions to reset your password.
            </p>
        </div>


        <form class="needs-validation"
              name="resetForm"
              [formGroup]="resetForm"
              (ngSubmit)="onSubmit()"
              novalidate>

            <app-ui-preloader [display]="loading"></app-ui-preloader>

            <ngb-alert type="danger"
                       *ngIf="error"
                       [dismissible]="false">
                {{ error }}
            </ngb-alert>

            <ngb-alert type="success"
                       *ngIf="success"
                       [dismissible]="false">{{ success }}</ngb-alert>

            <div class="form-group mb-3"
                 *ngIf="!success">
                <label for="email">Email</label>

                <input type="email"
                       formControlName="email"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                       id="email"
                       placeholder="Email" />

                <div *ngIf="submitted && f.email.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

            <div class="form-group mb-0 text-center"
                 *ngIf="!success">
                <button class="btn btn-primary btn-block"
                        type="submit">
                    Submit
                </button>
            </div>
        </form>

    </div>
</div>

<div class="row mt-3 auth-link-section">
    <div class="col-12 text-center">
        <p class="text-white-50">
            Back to
            <a routerLink="/account/login"
               class="text-white ml-1">
                <b>Log In</b>
            </a>
        </p>
    </div>
</div>
