<h2 class="mb-3">{{ formData.name }}</h2>

<p class="mb-3">{{ formData.description }}</p>

<h5>Final Submission Date:</h5>
<p class="mb-3">{{ formData.end_submission_at | date: 'dd/MM/yyyy' }}</p>

<h5>Final Edits Date:</h5>
<p class="mb-3">{{ formData.end_edit_at | date: 'dd/MM/yyyy' }}</p>

<ng-container *ngIf="formData.elements?.length">
    <div *ngFor="let element of formData.elements, let elementIndex = index" [ngSwitch]="element.type"
         class="row mb-3">
        <div class="col">
            <input *ngSwitchCase="elementTypes.text" type="text" (change)="setValue($event.target.value, element)"
                   class="form-control"
                   [placeholder]="element.label" />

            <ng-container *ngSwitchCase="elementTypes.checkbox">
                <h5 *ngIf="element.label">{{ element.label }}</h5>

                <div *ngFor="let option of element.options; let i = index" class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input"
                           (change)="setValue({ checked: $event.target.checked, option: option.id }, element)"
                           id="checkboxOverview_{{ elementIndex }}_{{ i }}" />
                    <label class="custom-control-label"
                           [htmlFor]="'checkboxOverview_' + elementIndex + '_' + i">{{ option.name }}</label>
                </div>
            </ng-container>

            <ng-container *ngSwitchCase="elementTypes.textarea">
                <h5 *ngIf="element.label">{{ element.label }}</h5>
                <div class="invalid-feedback">Field is required.</div>

                <textarea class="form-control" (change)="setValue($event.target.value, element)" rows="10"></textarea>
            </ng-container>

            <div *ngSwitchCase="elementTypes.file" class="input-group">
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="fileUploadOverview"
                           (change)="setValue($event.target.files[0], element)" />
                    <label class="custom-file-label" for="fileUploadOverview">{{ element.label }}</label>
                </div>
            </div>

            <ng-container *ngSwitchCase="elementTypes.dropdown">
                <h5 *ngIf="element.label">{{ element.label }}</h5>

                <select class="form-control" (change)="setValue($event.target.value, element)">
                    <option *ngFor="let option of element.options" [value]="option.id">{{ option.name }}</option>
                </select>
            </ng-container>

            <div *ngSwitchCase="elementTypes.note" class="alert alert-info" role="alert">
                <i class="mdi mdi-alert-circle-outline mr-2"></i> {{ element.label }}
            </div>

            <ng-container *ngSwitchCase="elementTypes.grid">
                <h5 *ngIf="element.label">{{ element.label }}</h5>

                <div class="table-responsive">
                    <table class="table mb-0">
                        <thead>
                        <tr class="text-center">
                            <th></th>
                            <th *ngFor="let column of element.columns">{{ column.name }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let row of element.rows; let rowIndex = index" class="text-center">
                            <th class="text-left" scope="row">{{ row.name }}</th>
                            <td *ngFor="let column of element.columns; let columnIndex = index">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox"
                                           class="custom-control-input"
                                           (change)="setValue({ checked: $event.target.checked, row: row.id, column: column.id }, element)"
                                           id="checkbox_{{ rowIndex }}_{{ columnIndex }}" />
                                    <label class="custom-control-label"
                                           [htmlFor]="'checkbox_' + rowIndex + '_' + columnIndex">
                                    </label>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </ng-container>
        </div>
    </div>
</ng-container>
