<div class="card">
    <div class="card-header">Project #129</div>
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-2 font-weight-bold">Description</div>
            <div class="col-md-10">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-2 font-weight-bold">Revisit By:</div>
            <div class="col-md-10">12/03/2019</div>
        </div>
    </div>
</div>