<div class="card">
    <div class="card-body py-1 text-center">
        <button class="btn mx-3"
                *ngFor="let tab of tabs"
                [routerLink]="['./', tab.key]"
                routerLinkActive
                #routerLinkActive="routerLinkActive"
                [ngClass]="routerLinkActive.isActive ? 'btn-success' : 'btn-link'">
            {{ tab.label }}
        </button>
    </div>
</div>

<router-outlet></router-outlet>