<div class="row">
    <div class="col text-right">
        <div class="btn btn-danger waves-effect mr-1" (click)="previousStep()">{{ labels.previous }}</div>

        <div class="btn btn-success waves-effect" (click)="formStepService.next(activeStep)">{{ labels.next }}</div>
    </div>
</div>
