<div class="card">
    <div class="card-body">
        <h4>
            {{'Applications' | translate}}

            <button class="btn btn-link p-0 mx-1 text-success" (click)="showGenerateReport = true">
                <i class="fe-file"></i>
                {{'Generate report' | translate}}
            </button>
        </h4>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>{{'Organization' | translate}}</th>
            <th>{{'Amount' | translate}}</th>
            <th>{{'Submitted' | translate}}</th>
            <th>{{'Rating' | translate}}</th>
            <th class="text-right">{{'Actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let application of applications">
            <td>{{ application?.organization?.name }}</td>
            <td>{{ application?.plan?.currency?.short_name }} {{ application?.amount }}</td>
            <td>{{ application?.submitted_at }}</td>
            <td>
                <star-rating [value]="application.review_rating" checkedcolor="lightgreen" size="16px"
                             uncheckedcolor="lightgray" readonly="true">
                </star-rating>
            </td>
            <td class="text-right">
                <button (click)="edit.emit(application.id)" class="btn btn-link p-0 mx-1">
                    <i class="fe-edit"></i>
                </button>

                <button (click)="view.emit(application.id)" class="btn btn-link p-0 mx-1">
                    <i class="fe-eye"></i>
                </button>

                <button class="btn btn-link p-0 mx-1" (click)="destroy.emit(application.id)">
                    <i class="fe-archive"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="card-footer">
        <div class="row">
            <div class="col-4">
                <select class="form-control float-left w-25" [(ngModel)]="size"
                        (ngModelChange)="sizeChange.emit($event)">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="col-8">
                <ngb-pagination class="float-right"
                                [collectionSize]="total"
                                [pageSize]="size"
                                [(page)]="page"
                                (pageChange)="pageChange.emit($event)"
                                aria-label="Default pagination">
                </ngb-pagination>
            </div>
        </div>
    </div>
</div>

<app-generate-report-modal [show]="showGenerateReport" (close)="showGenerateReport = false"></app-generate-report-modal>