<div class="card">
    <div *ngIf="(forms$ | async) as forms; else loading" class="card-body">
        <h4>
            {{'My Forms' | translate}}
            <button class="btn btn-success btn-xs mx-2"
                    [routerLink]="['new']">
                <i class="fe-plus-circle"></i>
                {{'Add form' | translate}}
            </button>
        </h4>

        <table class="table">
            <thead>
            <tr>
                <th>{{'Name' | translate}}</th>
                <th>{{'Submissions' | translate}}</th>
                <th>{{'Final Submissions' | translate}}</th>
                <th>{{'Final Edits' | translate}}</th>
                <th>{{'Last updated' | translate}}</th>
                <th class="text-right">{{'Actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of forms">
                <td>{{ item.name }}</td>
                <td>58</td>
                <td>{{ item.end_submission_at | date: 'dd/MM/yyyy' }}</td>
                <td>{{ item.end_edit_at | date: 'dd/MM/yyyy' }}</td>
                <td>05/12/2019</td>
                <td class="text-right">
                    <a [routerLink]="[item.id]" class="btn btn-link p-0 mx-1">
                        <i class="fe-edit"></i>
                    </a>
                    <a [routerLink]="[item.id, 'step-3']" [queryParams]="{ action: 'view' }" class="btn btn-link p-0 mx-1">
                        <i class="fe-eye"></i>
                    </a>
                    <button (click)="delete(item.id)" class="btn btn-link p-0 mx-1">
                        <i class="fe-archive"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<ng-template #loading>
    <app-ui-preloader [display]="true"></app-ui-preloader>
</ng-template>
