<div class="card">
    <div class="card-header">
        <h4>
            Milestones Builder
            <button class="btn btn-link text-success mx-1">
                <i class="fe-plus-circle"></i>
                Add Milestone
            </button>
        </h4>
    </div>
    <div class="card-body">
        <h4>First Grant After Budget Approval</h4>
        <p>Milestone content goes here</p>
    </div>
</div>