<div class="card">
    <div class="card-body">
        <h4>
            {{ heading }}
            <button class="btn btn-success btn-xs mx-2" (click)="addPerson.emit(true)">
                <i class="fe-plus-circle"></i>
                {{'Add person' | translate}}
            </button>
        </h4>

        <table class="table">
            <thead>
            <tr>
                <th>{{'Name' | translate}}</th>
                <th>{{'Position' | translate}}</th>
                <th>{{'Phone' | translate}}</th>
                <th>{{'Email' | translate}}</th>
                <th class="text-right">{{'Actions' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of team">
                <td>{{ member.user.name }}</td>
                <td>{{ member.user.position }}</td>
                <td>{{ member.user.phone }}</td>
                <td>{{ member.user.email }}</td>
                <td class="text-right">
                    <button class="btn btn-link text-success p-0 mx-1">
                        <i class="fe-arrow-up"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', member.user.id]">
                        <i class="fe-check-square"></i>
                    </button>

                    <button class="btn btn-link text-danger p-0 mx-1">
                        <i class="fe-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>