// 
// page-title.scss
//

.page-title-box {
    padding: 0 15px;
    background: white;
    border-bottom: 1px solid $gray-300;
    margin-bottom: 15px;

    .page-title {
        font-size: 1.25rem;
        margin: 0;
        line-height: 47px;
        color: $gray-900;
    }
    .page-title-right {
        float: right;
        margin-top: 22px;
    }

    .breadcrumb {
        padding-top: 5px;
    }
}


@include media-breakpoint-down(sm) {
    .page-title-box {
        .page-title {
            display: block;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 43px;
        }
        .breadcrumb {
            display: none;
        }
    }
}

@media (max-width: 640px) {
    .page-title-box {
        .page-title-right {
            display: none;
        }
    }
}

@media (max-width: 419px) {
    .page-title-box .breadcrumb {
        display: none;
    }
}
