<app-page-title title="Applications"></app-page-title>

<div class="container">
    <app-application-table [applications]="applications"
                           [page]="page"
                           [size]="size"
                           [total]="meta ? meta.pagination.total : 0"
                           (pageChange)="page = $event; loadData()"
                           (sizeChange)="size = $event; loadData()"
                           (edit)="onEdit($event)"
                           (view)="onView($event)"
                           (destroy)="onDestroy($event)"
    ></app-application-table>
</div>