<div class="card auth-card-section">
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <a routerLink="/account/login">
                <img src="assets/images/logo-dark.svg" alt="" height="50" />
            </a>
            <p class="text-muted mb-4 mt-3">
                Don't have an account? Create your own account, it takes less than a minute
            </p>
        </div>

        <form class="needs-validation" name="signupForm" [formGroup]="signupForm" (ngSubmit)="onSubmit()"
              novalidate>

            <app-ui-preloader [display]="loading"></app-ui-preloader>

            <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

            <div class="form-group my-3">
                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="role" id="foundation" class="custom-control-input"
                           value="foundation">
                    <label class="custom-control-label" for="foundation">
                        Register as a Foundation
                    </label>
                </div>

                <div class="custom-control custom-radio">
                    <input type="radio" formControlName="role" id="organization" value="organization"
                           class="custom-control-input">
                    <label class="custom-control-label" for="organization">
                        Register as a Non-Profit Organization
                    </label>
                </div>

                <div *ngIf="submitted && f.role.errors">
                    <p class="text-danger mb-0 mt-2" *ngIf="f.role.errors.required">Role is required</p>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="name">Your name</label>

                <input type="text"
                       formControlName="name"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                       id="name"
                       placeholder="Enter your name" />

                <div *ngIf="submitted && f.name.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Name is required</div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="email">Email</label>

                <input type="email"
                       formControlName="email"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                       id="email"
                       placeholder="Email" />

                <div *ngIf="submitted && f.email.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="password">Password</label>

                <input type="password"
                       formControlName="password"
                       class="form-control"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                       id="password"
                       placeholder="Password" />

                <div *ngIf="submitted && f.password.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>

            <div class="form-group mb-0 text-center">
                <button class="btn btn-success btn-block"
                        type="submit">Sign Up
                </button>
            </div>
        </form>
    </div>
</div>

<div class="row mt-3 auth-link-section">
    <div class="col-12 text-center">
        <p class="text-white-50">
            Already have account?
            <a routerLink="/account/login"
               class="text-white ml-1">
                <b>Log In</b>
            </a>
        </p>
    </div>
</div>
