<div class="card">
    <div class="card-header">
        <h4 class="mb-0">
            {{ (editable ? 'Edit' : 'Add') | translate }} {{'person' | translate}}
        </h4>
    </div>

    <div class="card-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="name">{{'Name' | translate}}</label>

                <input id="name" type="text" class="form-control" placeholder="{{'Enter name' | translate}}" formControlName="name"
                       [ngClass]="{'is-invalid': showError('name')}">

                <div class="invalid-feedback">
                    {{ (form.get('name').errors?.required ? 'Name is required' : '') | translate }}
                </div>
            </div>

            <div class="form-group">
                <label for="position">{{'Position' | translate}}</label>

                <input type="text" id="position" class="form-control" placeholder="{{'Enter position' | translate}}"
                       formControlName="position">
            </div>

            <div class="form-group">
                <label for="email">{{'Email' | translate}}</label>

                <input type="email" id="email" class="form-control" placeholder="{{'Enter email' | translate}}" formControlName="email"
                       [ngClass]="{'is-invalid': showError('email')}">

                <div class="invalid-feedback">
                    {{ (form.get('email').errors?.required ? 'Email is required' : '') | translate }}
                    {{ (form.get('email').errors?.email ? 'Email has wrong format' : '') | translate}}
                </div>
            </div>

            <div class="form-group">
                <label for="phone">{{'Phone' | translate}}</label>

                <input type="phone" id="phone" class="form-control" placeholder="{{'Enter phone' | translate}}" formControlName="phone">
            </div>

            <div class="form-group" *ngIf="user?.team?.plan_id">
                <label for="role">Role</label>

                <select id="role" class="form-control" formControlName="role">
                    <option value="" disabled>{{'Select role' | translate}}</option>
                    <option value="foundation-viewer">{{'Read-only' | translate}}</option>
                    <option value="foundation-redactor">{{'Edit' | translate}}</option>
                    <option value="foundation-manager">{{'Manager' | translate}}</option>
                </select>
            </div>
        </form>
    </div>

    <div class="card-footer pt-0">
        <button class="btn btn-secondary" routerLink="../">{{'Back' | translate}}</button>

        <button class="btn btn-success mx-2" (click)="submit()">
            {{ (editable ? 'Update' : 'Create') | translate}}
        </button>
    </div>
</div>