<div class="card-box">
    <app-ui-preloader [display]="loading"></app-ui-preloader>

    <table class="table table-borderless">
        <thead>
        <tr>
            <th>{{'Name' | translate}}</th>
            <th>{{'Description' | translate}}</th>
            <th>{{'Start date' | translate}}</th>
            <th class="text-right">{{'Actions' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let plan of plans">
            <td>{{ plan.name }}</td>
            <td>{{ plan.description?.substr(0, 50) }}...</td>
            <td class="font-italic">{{ plan.start_at | date: 'dd-MM-yyyy' }}</td>
            <td class="text-right">
                <a [routerLink]="[plan.id, 'information']" class="btn btn-link p-0 mx-1">
                    <i class="fe-edit"></i>
                </a>
                <button class="btn btn-link p-0 mx-1" (click)="archive.emit(plan.id)">
                    <i class="fe-archive"></i>
                </button>
                <button class="btn btn-link p-0 mx-1" (click)="showApplications.emit(plan.id)">
                    <i class="fe-trending-up"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-4">
            <select class="form-control float-left w-25" [(ngModel)]="size"
                    (ngModelChange)="sizeChange.emit($event)">
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
            </select>
        </div>
        <div class="col-8">
            <ngb-pagination class="float-right"
                            [collectionSize]="total"
                            [pageSize]="size"
                            [(page)]="page"
                            (pageChange)="pageChange.emit($event)"
                            aria-label="Default pagination">
            </ngb-pagination>
        </div>
    </div>
</div>
