<app-team-table heading="Plan team"
                [columns]="teamPlanColumns"
                [users]="teamPlanUsers"
                [actions]="teamPlanActions"
                (actionClick)="detach($event)">
</app-team-table>

<app-team-table heading="Person in my organization"
                [columns]="teamFoundationColumns"
                [users]="teamFoundationUsers"
                [actions]="teamFoundationActions"
                [canAdd]="true"
                (addClick)="add()"
                (actionClick)="attach($event)">
</app-team-table>