<div class="row">
    <div class="col-4">
        <a [class.active]="activeStep === 1">
            <span class="badge badge-success font-15">1</span>
            {{'Select form settings' | translate}}
        </a>
    </div>

    <div class="col-4">
        <a [class.active]="activeStep === 2">
            <span class="badge badge-primary font-15">2</span>
            {{'Create or modify criteria' | translate}}
        </a>
    </div>

    <div class="col-4">
        <a [class.active]="activeStep === 3">
            <span class="badge badge-warning font-15">3</span>
            {{'Review and share' | translate}}
        </a>
    </div>
</div>
