<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-xl-4">
                <h4 class="text-center text-xl-left"
                    [ngClass]="{'text-success': application?.approved, 'text-danger': application?.approved === 0 }">
                    {{ application?.organization?.name }}

                    <i class="fa fa-check ml-2" *ngIf="application?.approved"></i>
                    <i class="fa fa-times ml-2" *ngIf="application?.approved === 0"></i>
                </h4>
            </div>
            <div class="col-xl-8 action-buttons text-right d-flex align-items-center justify-content-center justify-content-xl-end">
                <div class="buttons-group d-inline-flex">
                    <button class="btn btn-link text-primary" [routerLink]="['./', routes.edit]">
                        <i class="fe-edit-1"></i>
                    </button>

                    <button class="btn btn-link text-primary" (click)="toggleFavorite()"
                            [ngClass]="application?.is_favorite ? 'text-danger' : 'text-primary'">
                        <i [ngClass]="application?.is_favorite ? 'fe-heart-on' : 'fe-heart'"></i>
                    </button>

                    <button class="btn btn-link text-primary">
                        <i class="fe-mail"></i>
                    </button>

                    <button class="btn btn-link text-danger" (click)="destroy()">
                        <i class="fe-trash"></i>
                    </button>
                </div>

                <div class="buttons-group d-inline-flex">
                    <div class="rating px-1">
                        <button class="btn btn-link float-left" (click)="showFeedback = true">
                            <i class="fe-thumbs-up"></i>
                        </button>

                        <star-rating *ngIf="applicationLoaded"
                                     [value]="application.review_rating"
                                     class="d-flex"
                                     checkedcolor="lightgreen"
                                     uncheckedcolor="lightgray"
                                     size="24px"
                                     [readonly]="true">
                        </star-rating>
                    </div>
                </div>

                <div ngbDropdown class="buttons-group d-inline-flex" *ngIf="application?.approved === null">
                    <button class="btn btn-link text-success" ngbDropdownToggle>
                        <i class="fe-check-circle"></i>
                        {{'Approve' | translate}}/{{'Reject' | translate}}
                    </button>
                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                        <button ngbDropdownItem class="text-success" (click)="showApprove = true">
                            <i class="fe-thumbs-up"></i>
                            {{'Principle Approval' | translate}}
                        </button>

                        <button ngbDropdownItem class="text-warning">
                            <i class="fe-help-circle"></i>
                            {{'Request Corrections' | translate}}
                        </button>

                        <button ngbDropdownItem class="text-danger" (click)="reject()">
                            <i class="fe-thumbs-down"></i>
                            {{'Reject' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <div class="row mb-3">
            <div class="col-md-3 font-weight-bold">{{'Description' | translate}}</div>
            <div class="col-md-9">{{ application?.description }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 font-weight-bold">
                {{'Amount Requested' | translate}} ({{ application?.plan?.currency?.short_name }})
            </div>
            <div class="col-md-9">{{ application?.amount }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 font-weight-bold">{{'Field of Interest' | translate}}</div>
            <div class="col-md-9">{{ application?.interest?.name }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 font-weight-bold">{{'Geographical Area' | translate}}</div>
            <div class="col-md-9">{{ application?.geographicalArea?.name }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 font-weight-bold">{{'Submit By' | translate}}:</div>
            <div class="col-md-9">{{ application?.submitted_at }}</div>
        </div>

        <div class="row mb-3">
            <div class="col-md-3 font-weight-bold">{{'Revisit By' | translate}}:</div>
            <div class="col-md-9">{{ application?.revisit_at }}</div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4>Required documents:</h4>
        <p>List of the documents</p>
    </div>
</div>

<app-feedback-modal [show]="showFeedback"
                    (close)="showFeedback = false"
                    [questions]="reviewQuestions"
                    (submitted)="submit($event)"
                    [ratings]="reviewRatings">
</app-feedback-modal>

<app-approve-modal [show]="showApprove"
                   (close)="loadApplication(); showApprove = false"
                   [application]="application"></app-approve-modal>