<div class="input-group">
    <input type="text"
           class="form-control form-control-sm option-control"
           placeholder="Add option"
           (keyup.enter)="add.emit(input.value); input.value = null"
           #input />

    <div class="input-group-append">
        <button class="btn btn-sm btn-link waves-effect waves-light" type="button"
                (click)="add.emit(input.value); input.value = null">{{'Add' | translate}}
        </button>
    </div>
</div>
