<ng-template #content let-modal>
    <app-ui-preloader [display]="loading"></app-ui-preloader>

    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'Add plan' | translate}}</h4>

        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <div class="modal-body">
        <form class="form" [formGroup]="form">
            <div class="form-group">
                <label for="title" class="label">{{'Name' | translate}}</label>
                <input type="text" id="title" class="form-control" placeholder="{{'Enter plan title' | translate}}"
                       [ngClass]="{ 'is-invalid': submitted && form.get('name').errors }"
                       formControlName="name">

                <div *ngIf="submitted && form.get('name').errors" class="invalid-feedback">
                    <div *ngIf="form.get('name').errors.required">{{'Name is required' | translate}}</div>
                </div>
            </div>

            <div class="form-group">
                <label for="description">{{'Description' | translate}}</label>
                <textarea name="description" id="description" cols="30" rows="4" class="form-control"
                          formControlName="description"
                          placeholder="{{'Enter plan description' | translate}}"></textarea>
            </div>
        </form>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark"
                (click)="modal.close('Save click')">{{'Close' | translate}}</button>
        <button type="button" class="btn btn-primary waves-effect waves-light" (click)="submitForm()">
            {{'Add plan' | translate}}
        </button>
    </div>
</ng-template>
