<div class="navbar-custom">
    <ul class="list-unstyled topnav-menu float-right mb-0">
        <li class="notification-list">
            <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript: void(0);"
               *ngIf="activeLang === 'en'"
               (click)="changeLang('he')">
                <i class="flag-icon flag-icon-il flag-icon-squared"></i>
            </a>

            <a class="nav-link dropdown-toggle waves-effect waves-light" href="javascript: void(0);"
               *ngIf="activeLang === 'he'"
               (click)="changeLang('en')">
                <i class="flag-icon flag-icon-gb flag-icon-squared"></i>
            </a>
        </li>

        <li class="notification-list">
            <a class="nav-link">
                <span class="upgrade-btn">{{ 'Upgrade Account' | translate }}</span>
            </a>
        </li>

        <li class="dropdown notification-list" ngbDropdown>
            <a class="nav-link dropdown-toggle nav-user mr-0 waves-effect waves-light" ngbDropdownToggle
               id="profileDropdown" href="javascript: void(0);" role="button" aria-haspopup="false"
               aria-expanded="false">
                <span class="pro-user-name mx-2 font-weight-bolder">DA</span>

                <img src="assets/images/users/user-1.jpg" alt="user-image" class="rounded-circle">
            </a>

            <div class="dropdown-menu dropdown-menu-right profile-dropdown pt-2" aria-labelledby="profileDropdown"
                 ngbDropdownMenu>
                <a href="javascript:void(0);" class="dropdown-item notify-item" (click)="logout()">
                    <i class="fe-log-out"></i>
                    <span>{{ 'Logout' | translate }}</span>
                </a>
            </div>
        </li>
    </ul>

    <div class="logo-box">
        <a href="/" class="logo text-center">
            <span class="logo-lg">
                <img src="assets/images/logo-dark.svg" alt="" height="40">
            </span>

            <span class="logo-sm">
                <img src="assets/images/logo-sm.png" alt="" height="24">
            </span>
        </a>
    </div>

    <ul class="list-unstyled topnav-menu topnav-menu-left m-0">
        <li class="d-block d-md-none">
            <button class="button-menu-mobile waves-effect waves-light" (click)="toggleMobileMenu($event)">
                <i class="fe-menu"></i>
            </button>
        </li>

        <li class="">
            <form class="app-search">
                <div class="app-search-box">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn" type="submit">
                                <i class="fe-search"></i>
                            </button>
                        </div>

                        <input type="text" class="form-control" placeholder="{{ 'Search' | translate }}...">
                    </div>
                </div>
            </form>
        </li>
    </ul>
</div>