<div class="card">
    <div class="card-body">
        <h4 class="mb-3">Team</h4>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Project Permissions</th>
                <th>Phone</th>
                <th>Email</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of teamPlan">
                <td>{{ member.user.name }}</td>
                <td>
                    <span *ngIf="member.user.role === 'foundation-viewer'">Read-only</span>
                    <span *ngIf="member.user.role === 'foundation-manager'">Manager</span>
                </td>
                <td>{{ member.user.phone }}</td>
                <td>{{ member.user.email }}</td>
                <td class="text-right">
                    <button class="btn btn-link text-warning p-0 mx-1" (click)="detachFromPlan(member.user.id)">
                        <i class="fe-arrow-down"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', member.user.id]">
                        <i class="fe-edit"></i>
                    </button>

                    <button class="btn btn-link text-danger p-0 mx-1" (click)="destroy(member.user.id)">
                        <i class="fe-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="card">
    <div class="card-body">
        <h4>
            People In My Organization

            <button class="btn btn-success btn-xs mx-2" routerLink="./add">
                <i class="fe-plus-circle"></i>
                Add person
            </button>
        </h4>

        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Phone</th>
                <th>Email</th>
                <th class="text-right">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let member of teamOrganization">
                <td>{{ member.user.name }}</td>
                <td>{{ member.user.position }}</td>
                <td>{{ member.user.phone }}</td>
                <td>{{ member.user.email }}</td>
                <td class="text-right">
                    <button class="btn btn-link text-success p-0 mx-1" (click)="attachToPlan(member.user.id)">
                        <i class="fe-arrow-up"></i>
                    </button>

                    <button class="btn btn-link p-0 mx-1" [routerLink]="['./', member.user.id]">
                        <i class="fe-edit"></i>
                    </button>

                    <button class="btn btn-link text-danger p-0 mx-1" (click)="destroy(member.user.id)">
                        <i class="fe-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>