<app-page-title title="All plans" [leftContent]="leftContent">
    <ng-template #leftContent>
        <h4 class="page-title">
            All tasks
            <button class="btn btn-primary btn-xs mx-2">Add task</button>
        </h4>
    </ng-template>
</app-page-title>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5>List of the tasks</h5>
            <p>Tasks goes here</p>
        </div>
    </div>
</div>
