<div class="card">
    <div class="card-header">
        <h5>{{'Budget settings' | translate}}</h5>
    </div>

    <div class="card-body">
        <form [formGroup]="form">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="budget">{{'Total budget' | translate}}</label>

                        <input type="number" class="form-control" id="budget"
                               placeholder="{{'Enter total budget' | translate}}"
                               formControlName="budget">
                    </div>

                    <div class="form-group">
                        <label for="currency">{{'Currency type' | translate}}</label>

                        <select id="currency" class="form-control" formControlName="currency_id" *ngIf="!plan?.budget">
                            <option [value]="currency.key" *ngFor="let currency of currencies">
                                {{ currency.value }}
                            </option>
                        </select>

                        <span *ngIf="plan?.budget" class="d-block">
                            {{ getCurrency().value }}
                        </span>
                    </div>

                    <div class="form-group">
                        <label for="total_projects">{{'Total number of projects' | translate}}</label>

                        <input type="number" class="form-control" id="total_projects" formControlName="total_projects"
                               placeholder="{{'Enter total number of projects' | translate}}">
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="card-footer">
        <button class="btn btn-success" (click)="submit()">{{'Save settings' | translate}}</button>
    </div>
</div>
