<div class="card">
    <div class="card-body">
        <h4 class="mb-3">
            {{ heading }}

            <button class="btn btn-link text-success" *ngIf="canAdd" (click)="addClick.emit()">
                <i class="fa fa-plus-circle"></i>
                {{'Add person' | translate}}
            </button>
        </h4>

        <table class="table">
            <thead>
            <tr>
                <th *ngFor="let column of columns">
                    {{ column.label }}
                </th>

                <th *ngIf="actions.length > 0" class="text-right">
                    {{'Actions' | translate}}
                </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td *ngFor="let column of columns">
                    {{ user[column.field] }}
                </td>

                <td *ngIf="actions.length > 0" class="text-right">
                    <button class="btn btn-link btn-xs p-0" *ngFor="let action of actions"
                            (click)="actionClick.emit({id: user.id, key: action.key})">
                        <i [ngClass]="action.icon"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>