<div class="row">
    <div class="col-8">
        <div class="input-group">
            <input type="text" class="form-control option-control label-control" placeholder="Enter label" #label
                   [ngModel]="element.label"/>

            <div class="input-group-append">
                <button class="btn btn-link waves-effect waves-light" type="button"
                        (click)="element.label = label.value">{{'Save' | translate}}</button>
            </div>
        </div>
    </div>

    <div class="col-4 text-right d-flex options">
        <i (click)="remove.emit(index)" class="mdi mdi-close"></i>

        <div class="custom-control custom-switch">
            <span style="margin: 0 50px;">{{'Criteria is' | translate}} <b>{{'required for grant' | translate}}</b></span>

            <input type="checkbox"
                   class="custom-control-input"
                   id="required_{{ index }}"
                   [(ngModel)]="element.is_required"/>

            <label class="custom-control-label" [htmlFor]="'required_' + index"></label>
        </div>
    </div>

</div>
