<app-page-title title="Dashboard"></app-page-title>

<div class="container">

    <!-- content-->

    <div class="row">
        <div class="col-xl-12">
            <div class="card-box">
                This is dashbord page
            </div>
        </div><!-- end col -->
    </div>
</div>
