<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'Generate report for program' | translate}}</h4>
    </div>

    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <label for="by_submission_date">
                    <input type="checkbox" id="by_submission_date" formControlName="by_submission_date">
                    By Submission Date
                </label>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Earliest</label>
                        <input mwlFlatpickr class="form-control" type="text"
                               formControlName="submission_date_min"
                               dateFormat="Y-m-d">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label>Latest</label>
                        <input mwlFlatpickr class="form-control" type="text"
                               formControlName="submission_date_max"
                               dateFormat="Y-m-d">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="by_review_rating">
                    <input type="checkbox" id="by_review_rating" formControlName="by_rating">
                    By Review Rating
                </label>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Minimum</label>

                        <star-rating [value]="1"
                                     class="d-flex"
                                     checkedcolor="lightgreen"
                                     uncheckedcolor="lightgray"
                                     size="24px"
                                     (rate)="setRating($event, 'rating_min')"
                                     [readonly]="false">
                        </star-rating>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Maximum</label>

                        <star-rating [value]="1"
                                     class="d-flex"
                                     checkedcolor="lightgreen"
                                     uncheckedcolor="lightgray"
                                     (rate)="setRating($event, 'rating_max')"
                                     size="24px"
                                     [readonly]="false">
                        </star-rating>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="by_amount_requested">
                    <input type="checkbox" id="by_amount_requested" formControlName="by_amount">
                    By Amount Requested
                </label>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Minimum</label>
                    <input type="text" class="form-control" formControlName="amount_min">
                </div>
                <div class="col-md-6">
                    <label>Maximum</label>
                    <input type="text" class="form-control" formControlName="amount_max">
                </div>
            </div>

            {{ form.value | json }}
        </form>
    </div>

    <div class="modal-footer">
        <button class="btn btn-link text-success" (click)="modal.close()">{{'Cancel' | translate}}</button>
    </div>
</ng-template>