<div class="card bg-pattern auth-card-section">
    <div class="card-body p-4">
        <div class="text-center w-75 m-auto">
            <a routerLink="/account/login">
                <img src="assets/images/logo-dark.svg" alt="" height="50" />
            </a>

            <p class="text-muted mb-4 mt-3">
                Please enter new password to reset the account
            </p>
        </div>

        <form class="needs-validation"
              name="resetForm"
              [formGroup]="resetForm"
              (ngSubmit)="onSubmit()"
              novalidate>

            <app-ui-preloader [display]="loading"></app-ui-preloader>

            <ngb-alert type="danger"
                       *ngIf="error"
                       [dismissible]="false">
                {{ error }}
            </ngb-alert>

            <div class="form-group mb-3">
                <label for="password">New password</label>

                <input type="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                       formControlName="password"
                       class="form-control"
                       id="password"
                       placeholder="Enter new password" />

                <div *ngIf="submitted && f.password.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                    <div *ngIf="f.password.errors.minlength">
                        Password should be greater that
                        {{ f.password.errors.minlength.requiredLength }}
                        characters
                    </div>
                </div>
            </div>

            <div class="form-group mb-3">
                <label for="password_confirmation">Password confirmation</label>

                <input type="password"
                       [ngClass]="{ 'is-invalid': submitted && f.password_confirmation.errors }"
                       formControlName="password_confirmation"
                       class="form-control"
                       id="password_confirmation"
                       placeholder="Confirm the password" />

                <div *ngIf="submitted && f.password_confirmation.errors"
                     class="invalid-feedback">
                    <div *ngIf="f.password_confirmation.errors.required">
                        Password confirmation is required
                    </div>
                </div>
            </div>

            <div class="form-group mb-0 text-center">
                <button class="btn btn-success btn-block"
                        type="submit">
                    Restore
                </button>
            </div>
        </form>
    </div>
</div>
