.form-element {
  position: relative;

  .option-item {
    margin: 0 0.9rem;

    .custom-control-label::before {
      left: 0;
    }
  }
}

.element-order {
  position: absolute;
  top: 5px;
  z-index: 1;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;

  &.table-element {
    top: 2px;
  }
}

.mdi-close {
  margin: 0 15px;
}

:host {
  ::ng-deep {
    .mdi-close {
      cursor: pointer;
    }

    .option-control {
      font-size: 16px;
      font-weight: 700;
      outline: none;
      border: 0;

      &:not(.label-control) {
        padding-left: 0;
      }
      //margin: 0 0.9rem;
    }

    .table-builder {
      .option-control {
        margin: 0 0.9rem;
      }
    }
  }
}

.item-options {
  padding-top: 7px;
}
