<div class="dropdown">
    <b>Criteria</b>

    <button class="btn btn-link text-success btn-xs p-0 mx-2 dropdown-toggle" type="button" id="selectCriteria"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="mdi mdi-plus-circle font-weight-bold"></i> {{'Add Criterion' | translate}}
    </button>

    <div class="dropdown-menu" aria-labelledby="selectCriteria" x-placement="bottom-start">
        <a class="dropdown-item" *ngFor="let item of dropdownItems" (click)="addElement(item)">
            <i class="mdi {{ item.icon }}"></i>
            {{ item.label }}
        </a>
    </div>
</div>

<hr />

<div *ngFor="let element of formElements; index as index" class="form-element mb-3">
    <span class="element-order">{{ index + 1 }}.</span>

    <app-form-element-header [element]="element"
                             [index]="index"
                             (remove)="removeElementById(formElements, $event)">
    </app-form-element-header>

    <div class="row">
        <ng-container [ngSwitch]="element.type">
            <div *ngSwitchCase="[elementTypes.dropdown, elementTypes.checkbox].includes(element.type) ? element.type : ''"
                 class="col-12 custom-control custom-checkbox option-item">
                <div class="row">
                    <div class="col-4">
                        <ng-container *ngSwitchCase="elementTypes.checkbox">
                            <input type="checkbox"
                                   class="custom-control-input"
                                   id="checkboxOverview"
                                   readonly
                                   disabled />

                            <label class="custom-control-label" for="checkboxOverview"></label>
                        </ng-container>

                        <select *ngSwitchCase="elementTypes.dropdown" class="form-control" readonly disabled>
                            <option selected>{{'Choose an option' | translate}}</option>
                        </select>
                    </div>
                </div>

                <ng-container *ngIf="element.options as options"
                              [ngTemplateOutlet]="optionsList"
                              [ngTemplateOutletContext]="{ options: options }">
                </ng-container>

                <div class="row">
                    <div class="col-4">
                        <app-add-option-field (add)="addOptionForElement(element, $event)">
                        </app-add-option-field>
                    </div>
                </div>
            </div>

            <div *ngSwitchCase="elementTypes.grid" class="col-12 option-item table-builder">
                <div class="row">
                    <div class="col-4">
                        <h5>{{'Rows' | translate}}</h5>

                        <hr />

                        <ng-container *ngIf="element.rows as options"
                                      [ngTemplateOutlet]="tableOptionsList"
                                      [ngTemplateOutletContext]="{ options: options }">
                        </ng-container>

                        <div class="row">
                            <div class="col d-flex">
                                <span class="element-order table-element">{{ element.rows ? element.rows.length + 1 : 1 }}</span>

                                <app-add-option-field (add)="addOptionForTableElement(element, 'rows', $event)">
                                </app-add-option-field>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <h5>{{'Columns' | translate}}</h5>
                        <hr />

                        <ng-container *ngIf="element.columns as options"
                                      [ngTemplateOutlet]="tableOptionsList"
                                      [ngTemplateOutletContext]="{ options: options }">
                        </ng-container>

                        <div class="row">
                            <div class="col d-flex">
                                <span class="element-order table-element">{{ element.columns ? element.columns.length + 1 : 1 }}</span>

                                <app-add-option-field (add)="addOptionForTableElement(element, 'columns', $event)">
                                </app-add-option-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-4 option-item custom-control">
                <input *ngSwitchCase="elementTypes.text"
                       type="text"
                       class="form-control"
                       placeholder="{{'Short answer from user' | translate}}"
                       readonly />

                <div *ngSwitchCase="elementTypes.file" class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="fileUploadOverview" readonly disabled />
                        <label class="custom-file-label" for="fileUploadOverview">{{'Choose file' | translate}}</label>
                    </div>
                </div>

                <div *ngSwitchCase="elementTypes.note" class="alert alert-info" role="alert">
                    <i class="mdi mdi-alert-circle-outline mr-2"></i> {{'Note' | translate}}
                </div>

                <textarea *ngSwitchCase="elementTypes.textarea" class="form-control" id="example-textarea" rows="2"
                          disabled readonly style="resize: none;"></textarea>
            </div>
        </ng-container>

        <ng-template #optionsList let-options="options">
            <div *ngFor="let option of options; index as index" class="row">
                <div class="col-4">
                    <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-sm option-control" placeholder="{{'Enter label' | translate}}"
                               #name [ngModel]="option.name" />

                        <div class="input-group-append">
                            <button class="btn btn-sm btn-link waves-effect waves-light" type="button"
                                    (click)="option.name = name.value">{{'Save' | translate}}
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-4 d-flex item-options">
                    <div *ngIf="element.type === elementTypes.text" class="radio radio-primary mb-2">
                        <input type="radio" id="radio_{{ index }}" name="is_default"
                               [checked]="option.is_default || index === 0"
                               (change)="setDefaultOption(element, index)" />

                        <label [htmlFor]="'radio_' + index">Default</label>
                    </div>

                    <i (click)="removeElementById(options, index)" class="mdi mdi-close"></i>
                </div>
            </div>
        </ng-template>

        <ng-template #tableOptionsList let-options="options">
            <div *ngFor="let option of options; index as index" class="row">
                <div class="col d-flex">
                    <span class="element-order table-element">{{ index + 1 }}</span>

                    <div class="input-group mb-2">
                        <input type="text" class="form-control form-control-sm option-control" placeholder="{{'Enter label' | translate}}"
                               style="margin: 0 0.9rem"
                               #optionItem [ngModel]="option.name" />

                        <div class="input-group-append">
                            <button class="btn btn-sm btn-link waves-effect waves-light" type="button"
                                    (click)="option.name = optionItem.value">{{'Save' | translate}}
                            </button>
                        </div>
                    </div>

                    <i (click)="removeElementById(options, index)" class="mdi mdi-close"></i>
                </div>
            </div>
        </ng-template>
    </div>
</div>

<hr *ngIf="formElements?.length" />
